.page-header figure img {
    
  
   margin:5px auto;
   height:auto;
   float:none;
   display:block;
}
   
    
.social {
    height: 210px;
}

.social nav {
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.social a {
    width: 80%;
    text-align: center;
    margin: 5px;
    font-size: 15px;
}

.content {
    width: 90%;
    margin-top: 20px;
}

.content p {
    font-size: 12px;
    line-height: 20px;
}

.content h4 {
    font-size: 12px;
    line-height: 15px;
    
    padding: 15px 0px 5px 5px;
}

.content h3 {
    font-size: 15px;
    line-height: 20px;
    padding: 20px 10px 10px 10px;
}
.content img{
    width: 100%;
}

h6 {
    font-size: 8px;
}

.social nav {
    margin: 10px;
    margin-bottom: 10px;
}

