html,
body {
 width: 100%;
 height: 100%;
}
 
body {
  margin: 0 auto;
background-color: #D2D3D5;
}

* {
 padding: 0;
 margin: 0;
}

.page-header {
 width: 100%;
 height: 55%;
 position: relative;
 background: url("img/index/logo-body2.jpg") no-repeat 50% 50%;
 background-size: 100%;
}

.page-header figure {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

#nav {
 display: flex;
 width: 100%;
 justify-content: space-around;
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translate(-50%);
}

#nav a {
 margin: 5px 20px;
 padding: 5px 20px;
 text-decoration: none;
 color: #fff;
 font-size: 18px;
 border: 2px solid #000;
 background-color: rgba(217,217,217, 0.4);
}

    

   
 
 
 
 article {
  background: white;
  color: black;
  text-align: center;
  padding: 100px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
 }
  
  
 
 
 footer {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
 }
/*#nav a  {
    background-color:#E0EEEE;
    font-weight: bold;
    border-radius: 10px;
    margin-left:180px;
    margin-top: 25px;
    font-size: 20px;
    color: black;
    margin-right:20px;
    text-decoration: none;
    padding: 4px;
    border: 2px solid black;
    vertical-align: -25px;
}*/
   
}  
  
 

 
