html,
body {
 width: 100%;
 height: 100%;
}

body {
 margin: 0 auto;
 background-image: radial-gradient(#fff,#D2D3D5)
}

* {
 padding: 0;
 margin: 0;
}

.page-header {
 width: 85%;
 height: 300px;
 position: relative;
 background: url("img/index/logo-body2.jpg") repeat 100% 40%;
 background-size: 67%;
 margin: 0 auto;
}

.page-header figure {
 display: flex;
 height: inherit;
}

.page-header figure img {
 width: 300px;
 border: #000 5px solid;
}

#nav {
 display: flex;
 
 position: absolute;
 bottom: 0;
 left: 90%;
 transform: translate(-50%);

}
#nav img {
 height: 70px;
 padding-right: 5px;
}

.social {
 width: 100%;
 margin: 0 auto;
 height: 70px;
 position: relative;
 
}

.social nav {
 height: inherit;
 position: absolute;
 top: 35%;
 right: 0;
 font-family: candara;
 text-align: center;
 width: 100%;

}

.social a {
 text-decoration: none;
 background-image: radial-gradient(#fff,#D2D3D5);
 color: #000;
 margin: 0 10px;
 padding: 5px 20px;
 border-radius: 10px;
 border: 2px solid #000;
 font-size: 18px;
 
 
}



.main {
 background: white;
 color: black;
 text-align: center;
 margin-bottom: 20px;
 width: 55%;
 margin: 0 auto;
 padding: 100px;
}

.main p {
 padding: 20px;
 font-family: candara;
 line-height: 23px;
}

.main h3,
.main h4 {
 padding: 20px 0 0 5px;
 font-family: candara;
}


.main img { 
 border: 2px solid #000;
 
  }


footer {
 margin-top: 20px;
 font-size: 18px;
 text-align: center;
 font-family: candara;
}
